td, th {
	width: 90px;
	height: 90px;
}
table, table td, table th {
	border: 1px solid black;
	color: blue;
}
button {
	width: 99%;
	height: 95%;
	color: blue;
	font-size: 17px;
}
#softunibutton {
	width: 99%;
	height: 95%;
	color: blue;
	font-weight: bolder;
	font-size: 27px;
}
#beerbutton {
	width: 99%;
	height: 95%;
	color: blue;
	font-size: 17px;
	text-align: right;
	font-weight: bolder;
}
.innertable {
	width: 99%;
	height: 95%;
	height: 45px;
	color: blue;
	font-size: 13px;

}